/tmp
/config/beets/**/*
!/config/beets/dev.config.yaml
!/config/beets/docker.config.yaml
/navidrome/**
!/navidrome/.gitkeep
/music
/data/**
!/data/.gitkeep
__pycache__
.DS_Store
/.env
/test/data/test-data.json
/test/data/nd-toolbox-data.json